@model ExchangeFreelancing.Domain.Entities.Message

<span style="background-color:#fec7c7">  @Model.author </span>
<div style="background-color:#e4fff6; border-radius:3px;">  @Model.message </div>
